/node_modules
/frontend/.next
/backend/target
/backend/data/registry.json
/repos
.DS_Store
/*.key
/*.csr
/*.srl
/vespa/local-security/
/*.pem
vespa/application/security/*.pem
!vespa/application/security/clients.pem
/ca.pem
/client.key
/client.pem
/ca.key
