# fly.toml app configuration file generated for vespa-search on 2026-01-16T07:24:38Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'vespa-search'
primary_region = 'iad'

[build]

[env]
  GITHUB_ORG = 'victoriancode'
  VESPA_CLUSTER = 'codesearch'
  VESPA_ENDPOINT = 'https://dac153da.fe1f2098.z.vespa-app.cloud'
  VESPA_DOCUMENT_ENDPOINT = 'https://dac153da.fe1f2098.z.vespa-app.cloud'

[http_service]
  internal_port = 3001
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
