name: Deploy Backend

on:
  push:
    branches: ["main"]

env:
  FLY_APP_NAME: "vespa-code-search"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - name: Deploy to Fly.io
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
        run: flyctl deploy --config backend/fly.toml --app "${FLY_APP_NAME}" --remote-only
